.nftcard{
    /* border with 2px violet shade */
    border: 3px solid #7a2d9c;
    /* add shadow to card */
    box-shadow: 0 0 10px #7a2d9c;
    /* add border radius to card */
    border-radius: 15px;
    justify-content: center;
   
}
.nftcard {
  animation-name: blinking;
  border-radius: 10px;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  text-align: center;
}
.heading{
  text-shadow: #8425ff 0px 0px 15px;
  color:bisque
}
.card-head{
  color:white;
}
@keyframes blinking {
  50% {
    border-color: #ff0000;
  }
}
.CardButton{
    margin-block:1em;
    background-color:#5865f2 !important;
    border: #5865f2 !important;
    color: white;
    font-size: 1em !important;
}